<div class="events-section">
  <h2 class="section-title">HOTTEST SERVICES AND PRODUCTS</h2>

  <div class="carousel-wrapper">
    <!-- Strelica za prethodni slajd -->
    <div class="arrow left" (click)="prevSlide()">&#9664;</div>

    <!-- Carousel sa karticama -->
    <div class="carousel-container">
      <div class="carousel" [style.transform]="getTransform()">
        <div *ngFor="let solution of hottestSolutions" class="card">
          <!-- Gornji deo kartice sa profilnom slikom i informacijama -->
          <div class="card-header">
            <!-- <img [src]="solution.profileImage" alt="{{solution.providerCompanyName}}" class="profile-img"> -->
            <div class="organizer-info">
              <h3 class="organizer-name">{{solution.providerCompanyName}}</h3>
              <p class="organizer-role">Service and product provider</p>
            </div>
          </div>

          <hr class="divider">

          <!-- Srednji deo kartice sa slikom događaja -->
          <img [src]="solution.imageUrl" alt="{{solution.name}}" class="event-image">

          <!-- Donji deo kartice sa detaljima o događaju -->
          <div class="card-content">
            <h3>{{solution.name}}</h3>
            <p>{{solution.description}}</p>
            <small><span  class="fas fa-tag"></span>{{solution.price}} din</small><br>
            <small><span class="fas fa-location-pin"></span>{{solution.location}}</small>
            <br>
            <button class="view-more-btn">View More</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Strelica za sledeći slajd -->
    <div class="arrow right" (click)="nextSlide()">&#9654;</div>
  </div>
</div>
