<div class="profile-container">
  <div class="profile-photo-container">
    <img [src]="user?.profileImage || '../../../../../assets/images/profile6.jpg'"
         alt="Profile photo"
         class="profile-photo">
    <button class="edit-button">
      <i class="fa fa-pencil"></i> Edit profile photo
    </button>
  </div>

  <div class="profile-info">
    <h3>{{ fullName || 'User Name' }}</h3>
    <p>Event Organizer</p>
    <ul>
      <li><strong>Email:</strong> {{ user?.email || 'No email available' }}</li>
      <li><strong>Address:</strong> {{ user?.address || 'No address provided' }}</li>
      <li><strong>City:</strong> {{ user?.city || 'No city provided' }}</li>
      <li><strong>Phone number:</strong> {{ user?.phoneNumber || 'No phone number' }}</li>
    </ul>
    <div class="profile-actions">
      <button class="edit-info" (click)="openUpdateModal($event)">
        <i class="fa fa-pencil"></i> Edit Profile
      </button>
      <button class="change-password" (click)="openPasswordModal($event)">Change password</button>
      <button class="deactivate">Deactivate account</button>
    </div>
  </div>
</div>

<!-- Update Modal Popup -->
<div class="update-modal-overlay" *ngIf="showUpdateModal" (click)="closeUpdateModal()">
  <div class="update-modal-content" (click)="$event.stopPropagation()">

    <div class="circle-one-update"></div>
    <div class="circle-two-update"></div>
    <div class="circle-three-update"></div>
    <div class="circle-four-update"></div>

    <h2> Edit Your Information </h2>
    <form [formGroup]="editForm" (ngSubmit)="edit()">
      <div class="form-group">
        <input formControlName="name" type="text" placeholder="Enter your name" />
      </div>
      <div class="form-group">
        <input formControlName="surname" type="text" placeholder="Enter your surname" />
      </div>
      <div class="form-group">
        <input formControlName="address" type="text" placeholder="Enter your address" />
      </div>
      <div class="form-group">
        <input formControlName="city" type="text" placeholder="Enter your city" />
      </div>
      <div class="form-group">
        <input formControlName="phoneNumber" type="tel" placeholder="Enter your phone number" />
      </div>
      <button type="submit" class="btn-confirm-upd">Confirm</button>
      <button type="button" class="btn-close" (click)="closeUpdateModal()">Close</button>
    </form>
  </div>
</div>


<!-- Password Modal Popup -->
<div class="change-password-modal-overlay" *ngIf="showPasswordModal" (click)="closePasswordModal()">
  <div class="change-password-modal-content" (click)="$event.stopPropagation()">

    <div class="circle-one-password"></div>
    <div class="circle-two-password"></div>
    <div class="circle-three-password"></div>
    <div class="circle-four-password"></div>

    <h2> Change Password </h2>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <input formControlName="oldPassword" type="password" placeholder="Enter old password" />
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" placeholder="Enter new password" />
      </div>
      <div class="form-group">
        <input formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
      </div>
      <div *ngIf="passwordsDoNotMatch" class="error-message">
        Passwords do not match.
      </div>
      <button type="submit" class="btn-confirm" [disabled]="passwordForm.invalid">Confirm</button>
      <button type="button" class="btn-close" (click)="closePasswordModal()">Close</button>
    </form>
  </div>
</div>

