<app-header></app-header>
<div class="profile-container">
  <div class="profile-photo-container" >
    <img [src]="user.profilePhoto" alt="{{user.companyName}}" >
         class="profile-photo">
  </div>

  <div class="profile-info">
    <h3>{{ user.companyName || 'User Name' }}</h3>
    <p>Service and product provider</p>
    <ul>
      <li><strong>Email:</strong> {{ user.email || 'No email available' }}</li>
      <li><strong>Description:</strong>{{user.description || 'No description found' }}</li>
      <li><strong>Address:</strong> {{ user.address || 'No address provided' }}</li>
      <li><strong>City:</strong> {{ user.city || 'No city provided' }}</li>
      <li><strong>Phone number:</strong> {{ user.phoneNumber || 'No phone number' }}</li>
    </ul>
    <div class="profile-actions" *ngIf="loggedUserId !== null">
      <button class="report" (click)="openReportForm()">Report user</button>
      <button class="chat" (click)="toggleChat()">Chat with provider</button>
    </div>
  </div>
</div>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-upcoming-events></app-upcoming-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-occupancy-calendar></app-occupancy-calendar>

<!-- Footer -->
<footer>
  <app-footer></app-footer>
</footer>


<!-- Report User Popup Overlay -->
<div *ngIf="showReportForm" class="report-popup-overlay" (click)="closeReportForm()"></div>

<!-- Report User Popup -->
<div class="report-popup" *ngIf="showReportForm">
  <h2>Report User</h2>
  <p>Reporting: <strong>{{ user.companyName || 'User Name' }}</strong></p>

  <textarea [(ngModel)]="reportReason" placeholder="Enter reason for report..."></textarea>

  <div class="popup-buttons" *ngIf="localStorage.getItem('userId')">
    <button (click)="submitReport()">Submit</button>
    <button (click)="closeReportForm()">Cancel</button>
  </div>
</div>

<app-chat-sidebar [chatter]="user.id" [chaterName]=user.companyName [chaterId]=user.id [isOpen]="isChatOpen && !!user"></app-chat-sidebar>
