<div class="profile-container">
  <div class="profile-photo-container">
    <img [src]="getProfilePhotoUrl()" alt="Profile photo" class="profile-photo">
    <button class="edit-button" (click)="openFileInput()">
      <i class="fa fa-pencil"></i> Edit profile photo
    </button>
    <input id="photo" type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
  </div>

  <div class="profile-info">
    <h3>{{ user?.role === 'EventOrganizer' ? (fullName || 'User Name') : (user?.name || 'Company Name') }}</h3>
    <p>{{ user?.role === 'EventOrganizer' ? 'Event Organizer' : 'Service and Product Provider' }}</p>
    <ul>
      <li *ngIf="user?.role === 'ServiceAndProductProvider'"><strong>Name:</strong> {{ user?.name || 'No name provided' }}</li>
      <li *ngIf="user?.role === 'ServiceAndProductProvider'"><strong>Description:</strong> {{ user?.description || 'No description provided' }}</li>
      <li><strong>Email:</strong> {{ user?.email || 'No email available' }}</li>
      <li><strong>Address:</strong> {{ user?.address || 'No address provided' }}</li>
      <li><strong>City:</strong> {{ user?.city || 'No city provided' }}</li>
      <li><strong>Phone number:</strong> {{ user?.phoneNumber || 'No phone number' }}</li>
    </ul>
    <div class="profile-actions">
      <button class="edit-info" (click)="openUpdateModal($event)">
        <i class="fa fa-pencil"></i> Edit Profile
      </button>
      <button class="change-password" (click)="openPasswordModal($event)">Change password</button>
      <button class="deactivate">Deactivate account</button>
    </div>
  </div>
</div>

<!-- Update Modal Popup -->
<div class="update-modal-overlay" *ngIf="showUpdateModal" (click)="closeUpdateModal()">
  <div class="update-modal-content" (click)="$event.stopPropagation()">
    <h2> Edit Your Information </h2>
    <form [formGroup]="editForm" (ngSubmit)="submitUpdateForm()">
      <div *ngIf="user?.role === 'EventOrganizer'" class="form-group">
        <input formControlName="name" type="text" placeholder="Enter your name" />
      </div>
      <div *ngIf="user?.role === 'EventOrganizer'" class="form-group">
        <input formControlName="surname" type="text" placeholder="Enter your surname" />
      </div>
      <div *ngIf="user?.role === 'ServiceAndProductProvider'" class="form-group">
        <input formControlName="name" type="text" placeholder="Enter your company name" />
      </div>
      <div *ngIf="user?.role === 'ServiceAndProductProvider'" class="form-group">
        <input formControlName="description" type="text" placeholder="Enter your description" />
      </div>
      <div class="form-group">
        <input formControlName="address" type="text" placeholder="Enter your address" />
      </div>
      <div class="form-group">
        <input formControlName="city" type="text" placeholder="Enter your city" />
      </div>
      <div class="form-group">
        <input formControlName="phoneNumber" type="tel" placeholder="Enter your phone number" />
      </div>
      <button type="button" class="btn-confirm-update" (click)="submitUpdateForm()">Confirm</button>
      <button type="button" class="btn-close" (click)="closeUpdateModal()">Close</button>
    </form>
  </div>
</div>

<!-- Password Modal Popup -->
<div class="change-password-modal-overlay" *ngIf="showPasswordModal" (click)="closePasswordModal()">
  <div class="change-password-modal-content" (click)="$event.stopPropagation()">
    <h2> Change Password </h2>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <input formControlName="oldPassword" type="password" placeholder="Enter old password" />
      </div>
      <div *ngIf="oldPasswordDoesNotMatch" class="error-message">
        Old password do not match.
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" placeholder="Enter new password" />
      </div>
      <div class="form-group">
        <input formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
      </div>
      <div *ngIf="passwordsDoNotMatch" class="error-message">
        Passwords do not match.
      </div>
      <button type="submit" class="btn-confirm" [disabled]="passwordForm.invalid">Confirm</button>
      <button type="button" class="btn-close" (click)="closePasswordModal()">Close</button>
    </form>
  </div>
</div>
