<div class="profile-container">
    <div class="profile-photo-container">
        <!-- Event Organizer: Single Profile Photo -->
        <ng-container *ngIf="user?.role === 'EventOrganizer'; else sppPhotos">
            <img [src]="getProfilePhotoUrl()" alt="Profile photo" class="profile-photo">
            <button class="edit-button" (click)="openFileInput()">
                <i class="fa fa-pencil"></i> Edit profile photo
            </button>
            <input id="photo" type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
        </ng-container>

        <!-- Service and Product Provider: Photo Carousel -->
        <ng-template #sppPhotos>
            <div class="photo-carousel">
                <button class="carousel-btn left" (click)="prevPhoto()">
                    <i class="fa fa-chevron-left"></i>
                </button>

              <!-- Display a default image if no photos exist -->
              <img *ngIf="photos.length > 0 && photos.length < 4; else noPhotos" [src]="photos[currentPhotoIndex]" alt="Company photo" class="profile-photo">

              <ng-template #noPhotos>
                <img src="../../../../../assets/images/no_photos.jpg" alt="No photos available" class="profile-photo">
              </ng-template>

                <button class="edit-button-photos" (click)="openFileInputForSPP(currentPhotoIndex)">
                    <i class="fa fa-pencil"></i> Edit photo
                </button>

                <button class="carousel-btn right" (click)="nextPhoto()">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </ng-template>

        <input id="photo-carousel" type="file" accept="image/*" (change)="onFileSelectedForSPP($event)" style="display: none;" />

    </div>

    <div class="profile-info" [ngStyle]="{'left': user?.role === 'EventOrganizer' ? '-10%' : '0'}">
        <h3>{{ user?.role === 'EventOrganizer' ? (fullName || 'User Name') : (user?.name || 'Company Name') }}</h3>
        <p>{{ user?.role === 'EventOrganizer' ? 'Event Organizer' : 'Service and Product Provider' }}</p>
        <ul>
            <li *ngIf="user?.role === 'ServiceAndProductProvider'"><strong>Description:</strong> {{ user?.description || 'No description provided' }}</li>
            <li><strong>Email:</strong> {{ user?.email || 'No email available' }}</li>
            <li><strong>Address:</strong> {{ user?.address || 'No address provided' }}</li>
            <li><strong>City:</strong> {{ user?.city || 'No city provided' }}</li>
            <li><strong>Phone number:</strong> {{ user?.phoneNumber || 'No phone number' }}</li>
        </ul>
        <div class="profile-actions">
            <button class="edit-info" (click)="openUpdateModal($event)">
                <i class="fa fa-pencil"></i> Edit Profile
            </button>
            <button class="change-password" (click)="openPasswordModal($event)">Change password</button>
            <button class="deactivate" (click)="openDeactivateModal($event)">Deactivate account</button>
        </div>
    </div>
</div>

<!-- Update Modal Popup -->
<div class="update-modal-overlay" *ngIf="showUpdateModal" (click)="closeUpdateModal()">
    <div class="update-modal-content" (click)="$event.stopPropagation()">
        <div class="circle-one-update"></div>
        <div class="circle-two-update"></div>
        <div class="circle-three-update"></div>
        <div class="circle-four-update"></div>
        <h2> Edit Your Information </h2>
        <form [formGroup]="editForm" (ngSubmit)="submitUpdateForm()">
            <div *ngIf="user?.role === 'EventOrganizer'" class="form-group">
                <input formControlName="name" type="text" placeholder="Enter your name" />
            </div>
            <div *ngIf="user?.role === 'EventOrganizer'" class="form-group">
                <input formControlName="surname" type="text" placeholder="Enter your surname" />
            </div>
            <div *ngIf="user?.role === 'ServiceAndProductProvider'" class="form-group">
                <input formControlName="description" type="text" placeholder="Enter your description" />
            </div>
            <div class="form-group">
                <input formControlName="address" type="text" placeholder="Enter your address" />
            </div>
            <div class="form-group">
                <input formControlName="city" type="text" placeholder="Enter your city" />
            </div>
            <div class="form-group">
                <input formControlName="phoneNumber" type="tel" placeholder="Enter your phone number" />
            </div>
            <button type="button" class="btn-confirm-update" (click)="submitUpdateForm()">Confirm</button>
            <button type="button" class="btn-close" (click)="closeUpdateModal()">Close</button>
        </form>
    </div>
</div>

<!-- Password Modal Popup -->
<div class="change-password-modal-overlay" *ngIf="showPasswordModal" (click)="closePasswordModal()">
    <div class="change-password-modal-content" (click)="$event.stopPropagation()">
        <div class="circle-one-password"></div>
        <div class="circle-two-password"></div>
        <div class="circle-three-password"></div>
        <div class="circle-four-password"></div>
        <h2> Change Password </h2>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <div class="form-group">
                <input formControlName="oldPassword" type="password" placeholder="Enter old password" />
            </div>
            <div *ngIf="oldPasswordDoesNotMatch" class="error-message">
                Old password do not match.
            </div>
            <div class="form-group">
                <input formControlName="password" type="password" placeholder="Enter new password" />
            </div>
            <div class="form-group">
                <input formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
            </div>
            <div *ngIf="passwordsDoNotMatch" class="error-message">
                Passwords do not match.
            </div>
            <button type="submit" class="btn-confirm" [disabled]="passwordForm.invalid">Confirm</button>
            <button type="button" class="btn-close" (click)="closePasswordModal()">Close</button>
        </form>
    </div>
</div>

<!-- Deactivate Modal Popup -->
<div class="deactivate-modal-overlay" *ngIf="isDeactivateModalVisible">
  <div class="deactivate-modal-content">
      <div class="circle-one-deactivate"></div>
      <div class="circle-two-deactivate"></div>
      <div class="circle-three-deactivate"></div>
      <div class="circle-four-deactivate"></div>
    <h2>{{ modalTitle }}</h2>
    <p>{{ modalMessage }}</p>
    <div class="deactivate-modal-actions">
      <button *ngIf="yesButton" (click)="confirmDeactivation()" class="deactivate-yes-button">Yes</button>
      <button *ngIf="noButton" (click)="cancelDeactivation()" class="deactivate-no-button">No</button>
        <button *ngIf="okButtonDeactivate" (click)="okButtonDeactivationClicked()" class="deactivate-ok-button">OK</button>
    </div>
  </div>
</div>

