<div class="popup">
  <h1>New event type</h1>
  <form class="form">

    <div class="form-section">
      <div class="circle-one"></div>
      <div class="circle-two"></div>
      <div class="circle-three"></div>
      <div class="circle-four"></div>
    </div>

    <div class="form-group">
      <input id="name" type="text" placeholder="Name" />
    </div>
    <div class="form-group">
      <textarea id="description" type="text" placeholder="Description"></textarea>
    </div>

    <div class="form-group">
      <fieldset class="form-group">
        <legend>Choose services and products</legend>
        <label><input type="checkbox" name="services" value="decoration"> Decoration</label>
        <label><input type="checkbox" name="services" value="drinks"> Drinks</label>
        <label><input type="checkbox" name="services" value="food"> Food</label>
        <label><input type="checkbox" name="services" value="fireworks"> Fireworks</label>
        <label><input type="checkbox" name="services" value="band"> Band</label>
        <label><input type="checkbox" name="services" value="waiters"> Waiters</label>
      </fieldset>
    </div>

    <button type="submit" class="create-button">Create</button>
  </form>
</div>
