<!-- Navigation Sidebar -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <ul>
    <li>My services/products</li>
    <li>Bookings</li>
    <li>Reviews and ratings</li>
    <li>Categories</li>
    <li (click)="toggleBookingRequestsSidebar()">Booking service requests</li>

    <li (click)="toggleNotificationsSidebar()">Notifications</li>
    <li>Messages</li>
    <li>Log out</li>
  </ul>
</div>

<app-notifications [isNotificationsOpen]="isNotificationsOpen"></app-notifications>
<app-booking-service-requests [isBookingRequestsOpen] = "isBookingRequestsOpen"></app-booking-service-requests>
