<header>
  <div class="header-background">
    <div class="header-overlay">
      <mat-icon class="burger-icon" (click)="toggleSidebar()">menu</mat-icon>

      <mat-icon class="profile-icon" routerLink="/organizer-profile">account_circle</mat-icon>

      <div class="logo-container">
        <img class="logo">
      </div>

      <div class="event-planner">
        <h1>Event Planner</h1>
      </div>

      <div class="nav-links">
        <a href="/home-organizer">HOME</a> | <a href="organizer-profile">PROFILE</a> | <a href="#">SETTINGS</a>
      </div>
    </div>
  </div>
</header>

<app-info></app-info>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-upcoming-events></app-upcoming-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-events></app-favorite-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-solutions></app-favorite-solutions>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-occupancy-calendar></app-occupancy-calendar>

<footer>
  <app-footer></app-footer>
</footer>
