<article>
  <h2>{{ service.name }} </h2>
  <p>{{ service.description }} </p>
  <dl>
    <dt>Category:</dt>
    <dd>
      <details>
        <summary> {{ service.category.name }} </summary>
        {{ service.category.description }}
      </details>
    </dd>

    <dt>Applicable event types:</dt>
    <dd>
      <ul>
        <li *ngFor="let type of service.applicableEventTypes"> {{ type.name }} </li>
      </ul>
    </dd>

    <dt>Price:</dt>
    <dd>
      <span [ngStyle]="service.discount > 0 ? {'text-decoration': 'line-through', 'font-style': 'italic'} : null">
        {{ service.price | currency }}
      </span>
      <b *ngIf="service.discount > 0">
        {{ service.price * (100 - service.discount) / 100  | currency}} ({{ service.discount }}% off)
      </b>
    </dd>

    <dt>Reservation details:</dt>
    <dd>
      Reservations for this service must be made {{ service.reservationPeriod }} days in advance, and may be canceled up to {{ service.cancellationPeriod }} days before.
      {{
        service.duration ?
          'Session duration for this service is ' + service.duration + ' minutes.'
          : 'This service may be reserved for at least ' + service.minDuration + ' minutes, and up to ' + service.maxDuration + ' minutes.'
      }}
      {{
        service.reservationType === 'MANUAL' ?
          'The provider must review reservations before accepting them.'
          : 'Your reservation will be immediately accepted.'
      }}
    </dd>

    <dt>Provided by:</dt>
    <dd>
      <a [routerLink]="['/users', service.provider.id]">
        <span>{{ (service.provider.companyName | titlecase) || service.provider.email }}</span>
      </a>
    </dd>
  </dl>
</article>

<button *ngIf="role === 'EventOrganizer'" (click)="openReservationPopup()">Book Service</button>


<div class="modal" [class.show]="isPopupOpen">
  <div class="modal-content">
    <span class="close" (click)="closeReservationPopup()">&times;</span>
    <h2>Book Service: {{ service.name }}</h2>

    <form (ngSubmit)="submitReservation()">
      <label>Date:</label>
      <input type="date" [(ngModel)]="reservation.date" name="date" required [min]="minDate">

      <label>Start Time:</label>
      <input type="time" [(ngModel)]="reservation.startTime" name="startTime" required>

      <label>End Time:</label>
      <input type="time" [(ngModel)]="reservation.endTime" name="endTime" required>

      <button type="submit">Confirm Booking</button>
    </form>
  </div>
</div>


