<!-- Navigation Sidebar -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <ul>
    <li (click)="navigateToMyEvents()">My events</li>
    <li>Calendar</li>
    <li>Categories</li>
    <li (click)="navigateToMyInvitations()">Invitations</li>
    <li>Favourite services/products</li>
    <li [routerLink]="['/chat']">Messages</li>
    <li (click)="toggleNotificationsSidebar()">Notifications </li>
    <li (click)="logOut()">Log out</li>
  </ul>
</div>

<app-notifications [isNotificationsOpen]="isNotificationsOpen"></app-notifications>
