form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  max-width: 400px;
  padding: 1rem;
  width: 100%;


  & div {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
  }
}
