<div class="profile-container">
  <div class="profile-photo-container">
    <img src="assets/images/profile6.jpg" alt="Profile photo" class="profile-photo">
    <button class="edit-button">
      <i class="fa fa-pencil"></i> Edit profile photo
    </button>
  </div>

  <div class="profile-info">
    <h3>Ana Jovanović</h3>
    <p>Event organizer</p>
    <ul>
      <li><strong>Email:</strong> ana.jovanovic.gmail.com</li>
      <li><strong>Address:</strong> Bulevar oslobođenja 3, Novi Sad, Serbia</li>
      <li><strong>Phone number:</strong> 065/111-2233</li>
    </ul>
    <div class="profile-actions">
      <button class="edit-info">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="change-password">Change password</button>
      <button class="deactivate">Deactivate account</button>
    </div>
  </div>
</div>
