.user-profile {
  top: -100%;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20%;
  position: relative;
  top: 0%;
  left: -5%;
  font-family: 'Petrona', serif;
  color: #523D35;
}

.profile-photo-container {
  position: relative; /* Keeps the photo and button together */
  left: 12%;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 35%; /* Circular photo */
  object-fit: cover;
  margin-top: -10rem;
}

.edit-button {
  background: #fff;
  border: 0.1px solid #D9D9D9;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
  bottom: 0;
  left: 32%;
  transform: translateX(-50%);
  z-index: 2;
  color: #523D35;
  border-radius: 5px;
  font-family: 'Petrona', serif;
}

.profile-info {
  flex-grow: 1; /* Occupy remaining space */
  width: 60%;
  text-align: left;
  padding-top: 0rem;
  position: relative;
  top: -40%;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  left: -10%;
}

/* name */
.profile-info h3 {
  font-size: 3rem;
  margin: 0;
}

/* role */
.profile-info p {
  font-size: 2rem;
  margin: 0;
}

/* info */
.profile-info ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.profile-info ul li {
  margin-bottom: 0.5rem;
}

.profile-actions button {
  padding: 0.3rem 0.5rem;
  font-family: 'Petrona', serif;
  border-radius: 20px;
}

.profile-actions {
  position: absolute; /* Allows precise positioning */
  top: 1rem; /* Aligns to the top of the container */
  right: -10rem; /* Adds spacing from the right edge */
  display: flex; /* Enables flexbox for alignment */
  gap: 1rem; /* Adds spacing between buttons */
}

.profile-actions .edit-info {
  color: #523D35;
  border: none;
  background-color: #fff;
}

.profile-actions .change-password {
  background: #523D35;
  color: #D9D9D9;
  border: none;
}

.profile-actions .deactivate {
  background: #523D35;
  color: #D9D9D9;
  border: none;
}
