<app-info></app-info>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-upcoming-events></app-upcoming-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-events></app-favorite-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-solutions></app-favorite-solutions>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-occupancy-calendar></app-occupancy-calendar>

<!-- Footer -->
<footer>
  <app-footer></app-footer>
</footer>
