/* Sidebar */
.sidebar {
  position: fixed;
  top: 120px;
  height: calc(100vh - 120px);
  background-color: #ebe3d6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px;
  font-family: 'Petrona', sans-serif;
  font-size: 18px;
  color: #523d35;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar li:hover {
  background-color: #d9d2c3;
}

.sidebar:not(.comments-sidebar) {
  left: -250px;
  width: 250px;
}

.sidebar.open:not(.comments-sidebar) {
  left: 0;
}

/* Burger icon */
.burger-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #523D35;
  z-index: 5;
  padding: 5px;
}
