<div class="login-container">
  <!-- Top Decorative Lines -->
  <div class="decorative-lines top-lines"></div>

  <!-- Main Content -->
  <div class="content-container">
    <!-- Left Image Section -->
    <div class="image-section">
      <div class="overlay-text">
        <div class="logo-container">
          <div class="logo"></div> <!-- The logo container div -->
        </div>
        <h1>Event Planner</h1>
      </div>
    </div>

    <!-- Right Form Section -->
    <div class="form-section">
      <div class="circle-one"></div>
      <div class="circle-two"></div>
      <div class="circle-three"></div>
      <div class="circle-four"></div>
      <!-- Container for h2 and form -->
      <div class="form-container">
        <!-- Heading -->
        <h2>Login</h2>

        <!-- Form Card -->
        <div class="circle-background">
          <div class="form-card">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <input id="email" formControlName="email" type="email" placeholder="E-mail address" />
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                  <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                  <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</span>
                </div>
              </div>
              <div class="form-group">
                <input id="password" formControlName="password" type="password" placeholder="Password" />
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                  <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
                </div>
              </div>
              <button type="submit" class="btn-confirm">Confirm</button>
            </form>

          </div>
        </div>

        <!-- Popup Modal -->
        <p> You don’t have an account? <a href="/registration-spp">Register here</a> </p>

        <!-- Modal -->
        <div
          id="registerModal"
          class="modal"
          [ngStyle]="{ display: showModal ? 'flex' : 'none' }"
        >
          <div class="modal-content">
            <h2>Do you want to register as:</h2>
            <button (click)="redirectTo('/registration-eo')">Event Organizer</button>
            <button (click)="redirectTo('/registration-spp')">Service and Product Provider</button>
            <button id="closeModal" (click)="closeModal()">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Bottom Decorative Lines -->
  <div class="decorative-lines bottom-lines"></div>
</div>
