<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <!-- Category name as title -->
    <mat-panel-title>{{ category.name }}</mat-panel-title>
    <!-- Brief description -->
    <mat-panel-description *ngIf="category.description">
      {{ category.description | slice: 0:21}}
      <p *ngIf="category.description.length > 21">...</p>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- Full description -->
  <p>{{ category.description }}</p>

  <mat-action-row>
    <button mat-button (click)="deleteCategory()">Delete</button>
    <button mat-button (click)="editCategory()">Edit</button>
  </mat-action-row>
</mat-expansion-panel>
