<header>
  <!-- Background image -->
  <div class="header-background">
    <!-- Rectangle with opacity and color -->
    <div class="header-overlay">
      <!-- Left burger icon for drawer navbar -->
      <mat-icon class="burger-icon" (click)="toggleSidebar()">menu</mat-icon>

      <!-- Right profile, notifications, and messages icons -->
      <div class="header-icons">
        <div class="notifications-container">
          <mat-icon class="notifications-icon" (click)="openNotifications()">notifications</mat-icon>
          <span *ngIf="unreadCount > 0" class="unread-count">{{ unreadCount }}</span>
        </div>
        <mat-icon class="messages-icon" routerLink="/messages">message</mat-icon>
        <mat-icon class="profile-icon" routerLink="/organizer-profile">account_circle</mat-icon>
      </div>

      <!-- Centered logo -->
      <div class="logo-container">
        <img class="logo">
      </div>

      <!-- "Event Planner" text -->
      <div class="event-planner">
        <h1>Event Planner</h1>
      </div>

      <!-- Navigation links -->
      <div class="nav-links">
        <a routerLink="/home-organizer">HOME</a> | <a routerLink="/organizer-profile">PROFILE</a> | <a href="#">SETTINGS</a>
      </div>
    </div>
  </div>
</header>

<!-- Create Popup -->
<div *ngIf="showCreatePopup" class="popup-overlay">
  <div class="popup">
    <app-create-event (closePopupEvent)="closePopup()"></app-create-event>

    <button class="close-popup-button" (click)="closePopup()">✖</button>
  </div>
</div>

<div class="events-list-section">
  <div class="header-bar">
    <h2 class="header-title">MY EVENTS</h2>
    <button class="create-event-button" (click)="createEvent()">
      <mat-icon>add</mat-icon> Create new event
    </button>
  </div>


  <div class="events-list">
    <div *ngFor="let event of filteredEvents" class="event-card">
      <div class="card-header">
        <img [src]="event.organizerProfilePicture" alt="{{event.name}}" class="event-avatar">
        <div class="organizer-info">
          <h3 class="organizer-name">{{ event.organizerFirstName }} {{ event.organizerLastName }}</h3>
          <p class="organizer-role">Event organizer</p>
        </div>
      </div>

      <hr class="divider">

      <img [src]="event.imageUrl" alt="{{ event.name }}" class="event-image" />
      <div class="event-content">
        <h4>{{ event.name }}</h4>
        <p>{{ event.description }}</p>
        <small><span class="fas fa-location-pin"></span> {{ event.location }}</small><br />
        <small><span class="fas fa-calendar-alt"></span> from {{ event.startDate }} to {{ event.endDate }}</small><br /><br />
        <button [routerLink]="['/events', event.id]">View More</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="pagination">
    <button (click)="onPageChange(page - 1)" [disabled]="page <= 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button (click)="onPageChange(page + 1)" [disabled]="page >= totalPages - 1">Next</button>
  </div>
</div>
