<header>
  <!-- Background image -->
  <div class="header-background">
    <!-- Rectangle with opacity and color -->
    <div class="header-overlay">
      <!-- Left burger icon for drawer navbar -->
      <mat-icon class="burger-icon" (click)="toggleSidebar()">menu</mat-icon>

      <!-- Right profile, notifications, and messages icons -->
      <div class="header-icons">
        <div class="notifications-container">
          <mat-icon class="notifications-icon" (click)="openNotifications()">notifications</mat-icon>
          <span *ngIf="unreadCount > 0" class="unread-count">{{ unreadCount }}</span>
        </div>
        <mat-icon class="messages-icon" routerLink="/messages">message</mat-icon>
        <mat-icon class="profile-icon" routerLink="/organizer-profile">account_circle</mat-icon>
      </div>

      <!-- Centered logo -->
      <div class="logo-container">
        <img class="logo">
      </div>

      <!-- "Event Planner" text -->
      <div class="event-planner">
        <h1>Event Planner</h1>
      </div>

      <!-- Navigation links -->
      <div class="nav-links">
        <a routerLink="/home-organizer">HOME</a> | <a routerLink="/organizer-profile">PROFILE</a> | <a href="#">SETTINGS</a>
      </div>
    </div>
  </div>
</header>

<!-- Create Button -->
<div class="event-management">
  <!-- Add Event Button -->
  <div class="add-button">
    <button class="add-event-button" (click)="createEvent()">Create Event</button>
  </div>
</div>

<!-- Create Popup -->
<div *ngIf="showCreatePopup" class="popup-overlay">
  <div class="popup">
    <app-create-event (closePopupEvent)="closePopup()"></app-create-event>

    <button class="close-popup-button" (click)="closePopup()">✖</button>
  </div>
</div>
