<app-header></app-header>
<app-drawer-navbar-provider [isSidebarOpen]="isSidebarOpen"></app-drawer-navbar-provider>
<app-notifications [isNotificationsOpen]="isNotificationsOpen"></app-notifications>

<app-info></app-info>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-upcoming-events></app-upcoming-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-events></app-favorite-events>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-favorite-solutions></app-favorite-solutions>

<div class="decorative-lines">
  <app-lines></app-lines>
</div>

<app-occupancy-calendar></app-occupancy-calendar>

<footer>
  <app-footer></app-footer>
</footer>
