<div class="events-list-section">
  <div class="header-bar">
    <h2 class="header-title">OUR EVENTS</h2>
    <div class="search-filter">
      <div class="search-box">
        <input type="text" placeholder="Enter search credentials" class="search-input" [(ngModel)]="searchTerm" (input)="onSearch()" />
        <span class="fas fa-search"></span>
      </div>
      <div class="filter-icon" (click)="toggleFilters()">
        <span class="fas fa-sliders-h"></span>
      </div>
    </div>
  </div>

  <div class="filter-options" [ngClass]="{'show-filters': showFilters}">
    <div class="filter-option">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" />
    </div>
    <div class="filter-option">
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate" />
    </div>
    <div class="filter-option">
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="category">
        <option value="">All Categories</option>
        <option value="Music">Music</option>
        <option value="Art">Art</option>
        <option value="Sports">Sports</option>
        <option value="Education">Education</option>
      </select>
    </div>
    <button (click)="applyFilters()">Apply Filters</button>
  </div>

  <div class="events-list">
    <div *ngFor="let event of filteredEvents" class="event-card">
      <div class="card-header">
        <img [src]="event.organizerProfilePicture" alt="{{event.name}}" class="profile-img">
        <div class="organizer-info">
          <h3 class="organizer-name">{{ event.organizerFirstName }} {{ event.organizerLastName }}</h3>
          <p class="organizer-role">Event organizer</p>
        </div>
      </div>

      <hr class="divider">

      <img [src]="event.imageUrl" alt="{{ event.name }}" class="event-image" />
      <div class="event-content">
        <h4>{{ event.name }}</h4>
        <p>{{ event.description }}</p>
        <small><span class="fas fa-location-pin"></span> {{ event.location }}</small><br />
        <small><span class="fas fa-calendar-alt"></span> from {{ event.startDate }} to {{ event.endDate }}</small><br /><br />
        <button>View More</button>
      </div>
    </div>
  </div>
 <br>
  <br>
  <div class="pagination">
    <button (click)="onPageChange(page - 1)" [disabled]="page <= 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button (click)="onPageChange(page + 1)" [disabled]="page >= totalPages - 1">Next</button>
  </div>
</div>
